services:
  app:
    image: tomcat:10.1-jdk21
    container_name: cicd-tomcat
    ports:
      - "8080:8080"
    volumes:
      - ./target/Pipe_CI_CD-0.0.1-SNAPSHOT.war:/usr/local/tomcat/webapps/ROOT.war
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/cicd
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=pass
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_SHOW_SQL=true
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:16-alpine
    container_name: cicd-postgres
    environment:
      - POSTGRES_DB=cicd
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
